.Dashboard {
    width: 640px;
    min-height: 345px;
    border: 2px solid #36362e;
    border-radius: 0px 0px 5px 5px;
    background-color: #8B8B83;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 800px;
}

.Dashboard button {
    margin: auto;
}

.Timer {
    width: 630px;
    padding-left: 10px;
    border: 2px solid #36362e;
    background-color: #8B8B83;
    border-bottom: none;
    margin: auto;
    margin-top: 100px;
    height: 40px;
  }

@media (max-width: 1366px) {
  .Dashboard{
    width: 480px;
    min-height: 445px;
  }
  .Timer {
    width: 470px;
  }
}
@media (max-width: 480px) {
  .Dashboard{
    width: 324px;
    min-height: 300px;
   
  }
  .Timer {
    margin-top: 50px;
    width: 314px;
  }
}