.Dashboard {
    width: 660px;
    background-color: #D3D3D3;
    margin: auto;
    margin-top: 100px;
    perspective: 800px;
}

.Content {
  min-height: 345px;
  display: flex;
  flex-wrap: wrap;
  border: 10px solid #BEBEBE;
}

button {
    margin: auto;
}

@media (max-width: 1366px) {
  .Dashboard{
    width: 500px;
  }

  .Content{
    min-height: 445px;
  }
}
@media (max-width: 480px) {
  .Dashboard{
    width: 362px;
  }

  .Content{
    min-height: 320px;
  }
}