.Dashboard {
    width: 640px;
    min-height: 387px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(69, 82, 81, 0.76);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    margin-top: 10%;
}

.Dashboard button {
    margin: auto;
}