.Timer {
    display: inline-block;
    width: 250px;
    font-size: 40px;
    font-family: digital-clock-font;
    font-weight: bold;
    color: #041c2c;
}

@media (max-width: 640px) {
    .Timer{
        font-size: 30px;
    }
}

@font-face{
    font-family:'digital-clock-font';
    src: url('../../fonts/digital-7.ttf');
   };

