.Timer {
    display: inline-block;
    width: 250px;
    font-size: 40px;
    font-family: digital-clock-font;
    font-weight: bold;
   
    color: #FFFFF0;
}
@font-face{
    font-family:'digital-clock-font';
    src: url('../../fonts/digital-7.ttf');
   };