   .Button {
      padding: 2px;
      width: fit-content;
      font-size: 35px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 500;
      color: #36362e;
      text-shadow: 1px 1px 2px #000000;
      text-align: center;
      border-radius: 5px;
      background: #EEEEE0;
      text-decoration: none;
      cursor: pointer;
     
      box-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
      border: none;
      outline: none;
   }

   .Button:hover {
    background: #CDCDC1;
    color: #fff;
   }

   .Button:active {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
   }

   .Button:disabled {
      color: darkgray;
      background: grey;
      cursor: not-allowed;
     }