.GameArea {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 520px;
    height: 560px;
    /* border: 2px solid #36362e; */
   
}

.GameArea>button {
  margin: auto;
}

.Content {
  background-color: #D3D3D3;
  display: flex;
  position: relative; 
  width: 500px;
  height: 500px;
  border: 10px solid #BEBEBE;
}

@font-face {
  font-family:'digital-clock-font';
  src: url('../../../../fonts/digital-7.ttf');
 }

 @media (max-width: 1366px) {
  .Content{
    width: 480px;
    height: 480px;
  }

  .GameArea{
    width: 500px;
    height: 540px;
  }
}

@media (max-width: 640px) {
  .Content{
    width: 340px;
    height: 340px;
  }

  .GameArea{
    width: 360px;
    height: 380px;
    font-size: 30px;
  }
}
 


