.GameArea {
    display: flex;
    position: relative; 
    margin: auto;
    width: 500px;
    height: 500px;
    border: 2px solid #36362e;
    background-color: #8B8B83;
}

.GameArea>button {
  margin: auto;
}

.Score {
  padding-left: 10px;
  margin: auto;
  margin-top: 100px;
  width:  490px;
  height: 40px;
  border: 2px solid #36362e;
  border-bottom: none;
  background-color: #8B8B83;
  font-size: 40px;
  font-family: digital-clock-font;
  font-weight: bold;
  color: #FFFFF0;
}

@font-face {
  font-family:'digital-clock-font';
  src: url('../../../../fonts/digital-7.ttf');
 }

 @media (max-width: 1366px) {
  .GameArea{
    width: 400px;
    height: 400px;
  }

  .Score{
    width: 390px;
    padding-top: 10px;
    margin-top: 50px;
  }
}

@media (max-width: 640px) {
  .GameArea{
    width: 340px;
    height: 340px;
  }

  .Score{
    width: 330px;
    font-size: 30px;
  }
}
 


