.Drawer {
    display: none;
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0px;
    background: rgb(255, 254, 247);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .7);
    transition: left .5s ease-in-out;
    z-index: 10;
}

.Drawer.open {
    left: 0;
}

.Drawer.close {
    left: -200px;
}

.Drawer i {
    position: absolute;
    background: transparent;
    margin: 5px;
    margin-left: 10px;
    font-size: 25px;
    color: #041c2c;
    top: 0;
    left: 200px;
}


.Drawer ul li{
    display: flex;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    color: #041c2c;
    user-select: none;  
}

.Drawer ul li:hover {
    background: #BEBEBE;
    color: #fff;
 }

 @media (max-width: 640px){
    .Drawer{
        display: block;
    }
 }