.Input {
    display: flex;
    padding: 5px;
    width: 96%;
    margin: 5px 0 10px 0;
    border: 1px solid #041c2c;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
}

label {
    font-size: 20px;
}