.FinishGame {
    margin: auto;
    margin-top: 100px;
    width: 540px;
    min-height: 530px;
    background-color: #D3D3D3;
   border: 10px solid #BEBEBE;
}

.FinishGame>h1,h2 {
    display: block;
    text-align: center;
    font-weight: bold;
}
.FinishGame>h2 {
    margin-bottom: 30px;
}

.FinishGame>h2>strong{
    font-weight: 900;
    font-family: digital-clock-font;
    font-size: 30px;
}

.FinishGame button {
    width: 155px;
    height: 35px;
    margin-right: 10px;
    font-size: 19px;
}

.FinishGame button:active {
    font-size: 18px;
}

.inputs{
    display: flex;
    background-color: #BEBEBE;
    border: 5px solid #041c2c;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
}

@font-face{
    font-family:'digital-clock-font';
    src: url('../../fonts/digital-7.ttf');
    }

@media (max-width: 1366px) {
    .FinishGame{
      width: 400px;
      min-height: 400px;
    }
    .inputs{
        width: 300px;
        padding: 20px;
    }
    .FinishGame button {
        width: 135px;
        height: 30px;
        font-size: 16px;
    }
    .FinishGame button:active {
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .FinishGame{
      width: 320px;
      min-height: 400px;
      padding: 0;
    }

    .inputs{
        width: 250px;
        padding: 10px;
    }

    .FinishGame button {
        width: 115px;
        height: 30px;
        font-size: 13px;
    }
    .FinishGame button:active {
        font-size: 12px;
    }
}
  
