.MineField {
    display: flex;
   
    width: 600px;
    height: 400px;
    border: 2px solid #36362e;
    border-radius: 0px 0px 5px 5px;
    background-color: #8B8B83;
    flex-wrap: wrap;
    margin: auto;
    perspective: 800px;
}

.TimerDiv {
    width: 590px;
    border: 2px solid #36362e;
    background-color: #8B8B83;
    border-bottom: none;
    margin: auto;
    margin-top: 100px;
    height: 40px;
    padding-left: 10px;
    overflow: hidden;
    color:  #EEEEE0;
    font-size: 32px;
    font-weight: 600;
  }
  .Flags{
      float: right;
      margin-right: 10px;
  }
  

  .TimerDiv>button{
    margin-top: 5px;
    margin-right: 10px;
    font-size: 21px; 
    float: right; 
  }

.MineField>button {
    margin: auto;
}