html body {
    margin: 0;
    padding: 0;
}

.Layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    width: 100%;
    background: linear-gradient(#D3D3D3, #fff);
    color: #041c2c;
    font-family: Verdana, sans-serif;
}

