html body {
    margin: 0;
    padding: 0;
}

.Layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    width: 100%;
    background: linear-gradient(#838B83, #fff);
    /* background-size: cover; */
    color: #36362e;
    font-family: Verdana, sans-serif;
}

