.Stats {
    min-width: 649px;
    margin: auto;
    margin-top: 100px;
    padding: 30px 30px;
    background-color: #FFFFF0;
    border: 1px solid #36362e;
    border-radius: 5px;
}

.Stats h1 {
    text-align: center;
    padding-bottom: 20px;
}

.Stats ol li{
    padding-top: 10px;
    min-width: 400px;
    border-bottom: 1px solid #36362e;
    padding: 5px;
    vertical-align: middle;
}

  @media (max-width: 1366px) {
    .Stats{
      min-width: 540px;
      margin-top: 50px;
      padding: 20px;
    }
   
    .Stats ol li{
      min-width: 260px;
      font-size: 14px;
    }

    .Stats ol li strong{
    font-size: 16px;
    }
}

  @media (max-width: 640px) {
    .Stats{
    min-width: 340px;
    padding: 10px 10px;
    }
    
    .Stats ol {
      min-width: 218px;
      padding: 60px;
      font-size: 12px;
      margin: auto;
  }
    
    .ButtonDiv button{
      font-size: 16px;
    }

    .Stats ol li{
      padding-top: 5px;
      min-width: 200px;
      font-size: 12px;
  }

    .Stats ol li strong{
      font-size: 16px;
  }

  .Stats h1 {
    font-size: 18px;
    padding-bottom: 10px;
  }
}
  
  
  